services:
  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
    networks:
      - proxy-net
    restart: unless-stopped

networks:
  proxy-net:
    external: true
    name: proxy-net

